<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="BiznesProfiAppDBEntities" connectionString="metadata=res://*/dbEntities.BiznesProfiAppDBEntities.csdl|res://*/dbEntities.BiznesProfiAppDBEntities.ssdl|res://*/dbEntities.BiznesProfiAppDBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HONORDEVICE\SQLEXPRESS;initial catalog=BiznesProfiApp;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>